html, body {
  margin: 0;
  width: 100%;
}

.wrap {
  box-sizing: border-box;
  max-width: $wrap-max-width;
  margin: 0 auto;
}

.header {
  padding: $header-padding;

  .logo {


    img {
      height: $header-logo-height;
    }
  }
  .text {
    margin-left: $header-text-margin-left;
  }
}

.nav {
  height: $nav-line-height;
  margin-bottom: $nav-margin-bottom;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: $nav-line-height;
      list-style: none;
      margin: $nav-item-margin;
      z-index: 2;

      a {
        display: block;
        padding: $nav-item-padding;
      }

      ul {
        display: none;
        flex-direction: column;

        li {

        }
      }
      &:hover ul, ul:hover {
        display: flex;
      }
    }
  }
}
