$wrap-max-width: 1200px;

$body-background: #fbfaf8;
$body-font-family: "Roboto";

$header-background: $body-background;
$header-padding: 30px 0;
$header-logo-height: 150px;
$header-text-margin-left: 50px;

$nav-background: #3C3636;
$nav-line-height: 50px;
$nav-margin-bottom: 30px;
  $nav-item-background: $nav-background;
  $nav-item-color: $body-background;
  $nav-item-hover-background: lighten($nav-background, 20%);
  $nav-item-hover-color: darken($body-background, 20%);
  $nav-item-margin: 0;
  $nav-item-padding: 0 15px;
